.progress-container {
  grid-area: progess;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.6875rem 2rem;
  background-color: var(--gray-100);
  border-radius: 16px;
  border: 1px solid var(--gray-300);

  strong {
    font: var(--title-md);
    color: var(--gray-600);
  }

  >div:nth-child(1) {
    flex: 1;
  }

  >div:nth-child(1)>span {
    font: var(--text-md);
    color: var(--gray-500);
  }

  >div:nth-child(2) {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--gray-200);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      width: 4rem;
    }
  }
}

.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .progress-bar {
    flex: 1;
    height: 0.5rem;
    background-color: var(--gray-300);
    border-radius: 999px;
  }

  .progress-bar-fill {
    width: 80%;
    background: var(--gradient-base);
    border-radius: 999px;
    height: 0.5rem;
  }

  span {
    display: inline-block;
    font: var(--text-xs);
    color: var(--gray-500);
  }
}

@media (max-width: 37.5rem) {
  .progress-container {
    padding: 1.3125rem 1.25rem;

    >div:nth-child(2) {
      width: 3.5rem;
      height: 3.5rem;

      img {
        width: 2.5rem;
      }
    }
  }
}